In [7]:
pwd

'C:\\Users\\cwest\\Desktop\\Bootcamp\\Keep it Organized\\Out-Of-Class\\Module 6\\python-api-challenge\\VacationPy'

In [3]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import vacation_key

In [6]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,adamstown,-25.0660,-130.1015,24.26,72,75,5.26,PN,1684944719
1,1,ust-nera,64.5667,143.2000,1.61,98,100,1.15,RU,1684944810
2,2,bethel,41.3712,-73.4140,23.56,55,0,3.09,US,1684944806
3,3,grytviken,-54.2811,-36.5092,0.31,77,54,6.37,GS,1684944731
4,4,waitangi,-43.9535,-176.5597,11.16,58,20,6.86,NZ,1684944730

In [ ]:
%%capture --no-display