In [7]:
pwd

'C:\\Users\\cwest\\Desktop\\Bootcamp\\Keep it Organized\\Out-Of-Class\\Module 6\\python-api-challenge\\VacationPy'

In [11]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import vacation_key

In [12]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,puerto natales,-51.7236,-72.4875,4.25,81,40,2.57,CL,1685038384
1,1,hohhot,40.8106,111.6522,13.64,37,57,0.69,CN,1685038384
2,2,kasane,-17.8167,25.1500,17.05,48,0,1.54,BW,1685038384
3,3,carnarvon,-24.8667,113.6333,21.03,49,95,9.21,AU,1685038384
4,4,dunedin,-45.8742,170.5036,17.67,35,100,2.68,NZ,1685038384

In [16]:
%%capture --no-display

# Configure the map
map_plot_2 = city_data_df.hvplot.points(
    "City",
    geo = True,
    tiles = "EsriStreet",
    frame_width = 800,
    frame_height = 600,
    size = "Humidity",
    scale = 0.5,
    color = "Country"
)

# Display the map
hvplot.show(map_plot_2)

In [40]:
# Narrow down cities that fit criteria and drop any results with null values
idealTemp = city_data_df.loc[city_data_df['Max Temp'] >= 22 ,:]
idealHumid = city_data_df.loc[city_data_df['Humidity'] <= 70 ,:]

idealCities = city_data_df.loc[(city_data_df['Max Temp'] >= 22) &
                               (city_data_df['Humidity'] <= 70)]

# Drop any rows with null values
idealCities.dropna()

# Display sample data
idealCities.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,pedernales,18.0384,-71.7440,29.48,67,4,4.81,DO,1685038386
26,26,pilcaya,18.7333,-99.6833,26.58,40,14,1.64,MX,1685038388
35,35,xuddur,4.1213,43.8894,27.43,52,47,3.48,SO,1685038390
41,41,arar,30.9753,41.0381,31.01,16,40,10.29,SA,1685038245
42,42,gobindpur,22.6333,86.0667,30.30,45,50,1.64,IN,1685038391

In [44]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = idealCities.copy(['City', 'Country', 'Lat', 'Lng', 'Humidity'])
hotel_df.head()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,pedernales,18.0384,-71.7440,29.48,67,4,4.81,DO,1685038386
26,26,pilcaya,18.7333,-99.6833,26.58,40,14,1.64,MX,1685038388
35,35,xuddur,4.1213,43.8894,27.43,52,47,3.48,SO,1685038390
41,41,arar,30.9753,41.0381,31.01,16,40,10.29,SA,1685038245
42,42,gobindpur,22.6333,86.0667,30.30,45,50,1.64,IN,1685038391

In [ ]:
# Set parameters to search for a hotel
radius = # YOUR CODE HERE
params = {
    # YOUR CODE HERE
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    # YOUR CODE HERE
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = # YOUR CODE HERE
    params["bias"] = # YOUR CODE HERE
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = # YOUR CODE HERE
    
    # Convert the API response to JSON format
    name_address = # YOUR CODE HERE
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df